In [1]:
import pandas as pd
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

In [2]:
load_dotenv()
db = create_engine(os.getenv("DB_STRING"))

In [4]:
df = pd.DataFrame([['joaogabriel','amordacarol'],['carolinda','amordojoao']], columns=['usuario', 'senha'])
df

       usuario        senha
0  joaogabriel  amordacarol
1    carolinda   amordojoao

In [6]:
pd.read_sql('SELECT * FROM login', con =db)

       usuario                                              senha
0  joaogabriel  $2a$06$FpeZFLWvhZlnzmsV9NQDpuV3.ka5QSCapFvEx7G...
1     carolina  $2a$06$FDKabkCu2bDJZ6mFlEhPmOCPJ2kv0Q//yfB40BP...