In [2]:
import pandas as pd
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

In [3]:
load_dotenv()
db = create_engine(os.getenv("DL_STRING"))

In [4]:
pd.read_sql('SELECT * FROM login', con =db)

       usuario                                              senha
0  joaogabriel  $2a$06$y2tg4/z5ZTPpkxmN7dCWm.OO8O99pGdakspfjMD...
1    carollage  $2a$06$sHnyBC.DdFrp9ggF0kyIcebeHofo0Y49KLoa3Nj...

# Dataframe Categorias

In [6]:
categorias = pd.DataFrame(columns = ['categoria'])
categorias

Empty DataFrame
Columns: [categoria]
Index: []

In [7]:
categorias['categoria'] = ['alimentação', 'dizimo/oferta', 'transporte']

In [9]:
categorias.to_sql('categoria_saida', if_exists = 'append' , con = db, index = False)

3