In [1]:
import pandas as pd
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

In [2]:
load_dotenv()
db = create_engine(os.getenv("DB_STRING"))

In [3]:
df = pd.DataFrame([['joaogabriel','amordacarol'],['carolinda','amordojoao']], columns=['usuario', 'senha'])
df

             0            1
0  joaogabriel  amordacarol
1    carolinda   amordojoao